In [3]:
import pandas as pd
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

In [4]:
online_data = pd.read_html("https://laendercode.net/en/3-letter-list.html")

In [8]:
onlinedata = online_data[0]

In [9]:
onlinedata

    ISO 3166 ALPHA-3            Country
0                AFG        Afghanistan
1                ALA      Aland Islands
2                ALB            Albania
3                DZA            Algeria
4                ASM     American Samoa
..               ...                ...
247              WLF  Wallis and Futuna
248              ESH     Western Sahara
249              YEM              Yemen
250              ZMB             Zambia
251              ZWE           Zimbabwe

[252 rows x 2 columns]

In [89]:
onlinedata['Merged'] =  onlinedata.apply(lambda row: row['ISO 3166 ALPHA-3'] + ':' + row['Country'], axis=1)
onlinedata

    ISO 3166 ALPHA-3            Country                 Merged
0                AFG        Afghanistan        AFG:Afghanistan
1                ALA      Aland Islands      ALA:Aland Islands
2                ALB            Albania            ALB:Albania
3                DZA            Algeria            DZA:Algeria
4                ASM     American Samoa     ASM:American Samoa
..               ...                ...                    ...
247              WLF  Wallis and Futuna  WLF:Wallis and Futuna
248              ESH     Western Sahara     ESH:Western Sahara
249              YEM              Yemen              YEM:Yemen
250              ZMB             Zambia             ZMB:Zambia
251              ZWE           Zimbabwe           ZWE:Zimbabwe

[252 rows x 3 columns]

In [11]:
import pandas as pd

# Create a sample dataframe
df = pd.DataFrame({'Column1': ['Value1', 'Value2', 'Value3'],
                   'Column2': ['Value4', 'Value5', 'Value6']})

# Merge the values of Column1 and Column2 into a new column, separated by ":"
df['Merged_Column'] = df.apply(lambda row: row['Column1'] + ':' + row['Column2'], axis=1)

# Print the updated dataframe
print(df)

  Column1 Column2  Merged_Column
0  Value1  Value4  Value1:Value4
1  Value2  Value5  Value2:Value5
2  Value3  Value6  Value3:Value6

In [90]:
merge_dict = dict(zip(onlinedata.index, onlinedata['Merged']))

In [97]:
merge_dict.values()

dict_values([['AFG', 'Afghanistan'], ['ALA', 'Aland Islands'], ['ALB', 'Albania'], ['DZA', 'Algeria'], ['ASM', 'American Samoa'], ['AND', 'Andorra'], ['AGO', 'Angola'], ['AIA', 'Anguilla'], ['ATA', 'Antarctica'], ['ATG', 'Antigua and Barbuda'], ['ARG', 'Argentina'], ['ARM', 'Armenia'], ['ABW', 'Aruba'], ['AUS', 'Australia'], ['AUT', 'Austria'], ['AZE', 'Azerbaijan'], ['BHS', 'Bahamas'], ['BHR', 'Bahrain'], ['BGD', 'Bangladesh'], ['BRB', 'Barbados'], ['BLR', 'Belarus'], ['BEL', 'Belgium'], ['BLZ', 'Belize'], ['BEN', 'Benin'], ['BMU', 'Bermuda'], ['BTN', 'Bhutan'], ['BOL', 'Bolivia'], ['BES', 'Bonaire, Saint Eustatius and Saba'], ['BIH', 'Bosnia and Herzegovina'], ['BWA', 'Botswana'], ['BVT', 'Bouvet Island'], ['BRA', 'Brazil'], ['IOT', 'British Indian Ocean Territory'], ['VGB', 'British Virgin Islands'], ['BRN', 'Brunei'], ['BGR', 'Bulgaria'], ['BFA', 'Burkina Faso'], ['BDI', 'Burundi'], ['KHM', 'Cambodia'], ['CMR', 'Cameroon'], ['CAN', 'Canada'], ['CPV', 'Cape Verde'], ['CYM', 'Cayman Islands'], ['CAF', 'Central African Republic'], ['TCD', 'Chad'], ['CHL', 'Chile'], ['CHN', 'China'], ['CXR', 'Christmas Island'], ['CCK', 'Cocos Islands'], ['COL', 'Colombia'], ['COM', 'Comoros'], ['COK', 'Cook Islands'], ['CRI', 'Costa Rica'], ['HRV', 'Croatia'], ['CUB', 'Cuba'], ['CUW', 'Curacao'], ['CYP', 'Cyprus'], ['CZE', 'Czech Republic'], ['COD', 'Democratic Republic of the Congo'], ['DNK', 'Denmark'], ['DJI', 'Djibouti'], ['DMA', 'Dominica'], ['DOM', 'Dominican Republic'], ['TLS', 'East Timor'], ['ECU', 'Ecuador'], ['EGY', 'Egypt'], ['SLV', 'El Salvador'], ['GNQ', 'Equatorial Guinea'], ['ERI', 'Eritrea'], ['EST', 'Estonia'], ['ETH', 'Ethiopia'], ['FLK', 'Falkland Islands'], ['FRO', 'Faroe Islands'], ['FJI', 'Fiji'], ['FIN', 'Finland'], ['FRA', 'France'], ['GUF', 'French Guiana'], ['PYF', 'French Polynesia'], ['ATF', 'French Southern Territories'], ['GAB', 'Gabon'], ['GMB', 'Gambia'], ['GEO', 'Georgia'], ['DEU', 'Germany'], ['GHA', 'Ghana'], ['GIB', 'Gibraltar'], ['GRC', 'Greece'], ['GRL', 'Greenland'], ['GRD', 'Grenada'], ['GLP', 'Guadeloupe'], ['GUM', 'Guam'], ['GTM', 'Guatemala'], ['GGY', 'Guernsey'], ['GIN', 'Guinea'], ['GNB', 'Guinea-Bissau'], ['GUY', 'Guyana'], ['HTI', 'Haiti'], ['HMD', 'Heard Island and McDonald Islands'], ['HND', 'Honduras'], ['HKG', 'Hong Kong'], ['HUN', 'Hungary'], ['ISL', 'Iceland'], ['IND', 'India'], ['IDN', 'Indonesia'], ['IRN', 'Iran'], ['IRQ', 'Iraq'], ['IRL', 'Ireland'], ['IMN', 'Isle of Man'], ['ISR', 'Israel'], ['ITA', 'Italy'], ['CIV', 'Ivory Coast'], ['JAM', 'Jamaica'], ['JPN', 'Japan'], ['JEY', 'Jersey'], ['JOR', 'Jordan'], ['KAZ', 'Kazakhstan'], ['KEN', 'Kenya'], ['KIR', 'Kiribati'], ['XXK', 'Kosovo'], ['KWT', 'Kuwait'], ['KGZ', 'Kyrgyzstan'], ['LAO', 'Laos'], ['LVA', 'Latvia'], ['LBN', 'Lebanon'], ['LSO', 'Lesotho'], ['LBR', 'Liberia'], ['LBY', 'Libya'], ['LIE', 'Liechtenstein'], ['LTU', 'Lithuania'], ['LUX', 'Luxembourg'], ['MAC', 'Macao'], ['MKD', 'Macedonia'], ['MDG', 'Madagascar'], ['MWI', 'Malawi'], ['MYS', 'Malaysia'], ['MDV', 'Maldives'], ['MLI', 'Mali'], ['MLT', 'Malta'], ['MHL', 'Marshall Islands'], ['MTQ', 'Martinique'], ['MRT', 'Mauritania'], ['MUS', 'Mauritius'], ['MYT', 'Mayotte'], ['MEX', 'Mexico'], ['FSM', 'Micronesia'], ['MDA', 'Moldova'], ['MCO', 'Monaco'], ['MNG', 'Mongolia'], ['MNE', 'Montenegro'], ['MSR', 'Montserrat'], ['MAR', 'Morocco'], ['MOZ', 'Mozambique'], ['MMR', 'Myanmar'], ['NAM', 'Namibia'], ['NRU', 'Nauru'], ['NPL', 'Nepal'], ['NLD', 'Netherlands'], ['ANT', 'Netherlands Antilles'], ['NCL', 'New Caledonia'], ['NZL', 'New Zealand'], ['NIC', 'Nicaragua'], ['NER', 'Niger'], ['NGA', 'Nigeria'], ['NIU', 'Niue'], ['NFK', 'Norfolk Island'], ['PRK', 'North Korea'], ['MNP', 'Northern Mariana Islands'], ['NOR', 'Norway'], ['OMN', 'Oman'], ['PAK', 'Pakistan'], ['PLW', 'Palau'], ['PSE', 'Palestinian Territory'], ['PAN', 'Panama'], ['PNG', 'Papua New Guinea'], ['PRY', 'Paraguay'], ['PER', 'Peru'], ['PHL', 'Philippines'], ['PCN', 'Pitcairn'], ['POL', 'Poland'], ['PRT', 'Portugal'], ['PRI', 'Puerto Rico'], ['QAT', 'Qatar'], ['COG', 'Republic of the Congo'], ['REU', 'Reunion'], ['ROU', 'Romania'], ['RUS', 'Russia'], ['RWA', 'Rwanda'], ['BLM', 'Saint Barthelemy'], ['SHN', 'Saint Helena'], ['KNA', 'Saint Kitts and Nevis'], ['LCA', 'Saint Lucia'], ['MAF', 'Saint Martin'], ['SPM', 'Saint Pierre and Miquelon'], ['VCT', 'Saint Vincent and the Grenadines'], ['WSM', 'Samoa'], ['SMR', 'San Marino'], ['STP', 'Sao Tome and Principe'], ['SAU', 'Saudi Arabia'], ['SEN', 'Senegal'], ['SRB', 'Serbia'], ['SCG', 'Serbia and Montenegro'], ['SYC', 'Seychelles'], ['SLE', 'Sierra Leone'], ['SGP', 'Singapore'], ['SXM', 'Sint Maarten'], ['SVK', 'Slovakia'], ['SVN', 'Slovenia'], ['SLB', 'Solomon Islands'], ['SOM', 'Somalia'], ['ZAF', 'South Africa'], ['SGS', 'South Georgia and the South Sandwich Islands'], ['KOR', 'South Korea'], ['SSD', 'South Sudan'], ['ESP', 'Spain'], ['LKA', 'Sri Lanka'], ['SDN', 'Sudan'], ['SUR', 'Suriname'], ['SJM', 'Svalbard and Jan Mayen'], ['SWZ', 'Swaziland'], ['SWE', 'Sweden'], ['CHE', 'Switzerland'], ['SYR', 'Syria'], ['TWN', 'Taiwan'], ['TJK', 'Tajikistan'], ['TZA', 'Tanzania'], ['THA', 'Thailand'], ['TGO', 'Togo'], ['TKL', 'Tokelau'], ['TON', 'Tonga'], ['TTO', 'Trinidad and Tobago'], ['TUN', 'Tunisia'], ['TUR', 'Turkey'], ['TKM', 'Turkmenistan'], ['TCA', 'Turks and Caicos Islands'], ['TUV', 'Tuvalu'], ['VIR', 'U.S. Virgin Islands'], ['UGA', 'Uganda'], ['UKR', 'Ukraine'], ['ARE', 'United Arab Emirates'], ['GBR', 'United Kingdom'], ['USA', 'United States'], ['UMI', 'United States Minor Outlying Islands'], ['URY', 'Uruguay'], ['UZB', 'Uzbekistan'], ['VUT', 'Vanuatu'], ['VAT', 'Vatican'], ['VEN', 'Venezuela'], ['VNM', 'Vietnam'], ['WLF', 'Wallis and Futuna'], ['ESH', 'Western Sahara'], ['YEM', 'Yemen'], ['ZMB', 'Zambia'], ['ZWE', 'Zimbabwe']])

In [95]:
for i in range(0,len(merge_dict)):
    merge_dict[i] = merge_dict[i].split(':')

In [62]:
ind = 'ALA '
for i in merge_dict:
    if merge_dict[i][0] == ind:
        ind = merge_dict[i][1]

In [63]:
ind

' Aland Islands'

In [82]:
names = ['PRT',
         'GBR',
         'FRA',
         'ESP',
         'DEU',
         'ITA',
         'IRL',
         'BEL',
         'BRA',
         'NLD',
         'USA',
         'CHE',
         'CN',
         'AUT',
         'SWE',
         'CHN',
         'POL',
         'ISR',
         'RUS',
         'NOR',
         'ROU',
         'FIN',
         'DNK',
         'AUS',
         'AGO',
         'LUX',
         'MAR',
         'TUR',
         'HUN',
         'ARG',
         'JPN',
         'CZE',
         'IND',
         'KOR',
         'GRC',
         'DZA',
         'SRB',
         'HRV',
         'MEX',
         'EST',
         'IRN',
         'LTU',
         'ZAF',
         'BGR',
         'NZL',
         'COL',
         'UKR',
         'MOZ',
         'CHL',
         'SVK',
         'THA',
         'SVN',
         'ISL',
         'LVA',
         'ARE',
         'CYP',
         'TWN',
         'SAU',
         'PHL',
         'TUN',
         'SGP',
         'IDN',
         'NGA',
         'EGY',
         'URY',
         'LBN',
         'PER',
         'HKG',
         'MYS',
         'ECU',
         'BLR',
         'VEN',
         'CPV',
         'GEO',
         'JOR',
         'KAZ',
         'CRI',
         'MLT',
         'OMN',
         'GIB',
         'AZE',
         'KWT',
         'MAC',
         'QAT',
         'IRQ',
         'DOM',
         'PAK',
         'BIH',
         'ALB',
         'PRI',
         'MDV',
         'BGD',
         'SEN',
         'CMR',
         'MKD',
         'BOL',
         'PAN',
         'GNB',
         'TJK',
         'JEY',
         'LBY',
         'ARM',
         'CUB',
         'VNM',
         'AND',
         'MUS',
         'LKA',
         'CIV',
         'JAM',
         'KEN',
         'BHR',
         'SUR',
         'CAF',
         'TZA',
         'MNE',
         'FRO',
         'PRY',
         'BRB',
         'GTM',
         'UZB',
         'MCO',
         'GAB',
         'GHA',
         'ZWE',
         'GGY',
         'BEN',
         'SYR',
         'TMP',
         'LIE',
         'ETH',
         'MWI',
         'SYC',
         'RWA',
         'KNA',
         'UGA',
         'TGO',
         'COM',
         'IMN',
         'ABW',
         'ZMB',
         'LAO',
         'KHM',
         'MYT',
         'ATA',
         'SLV',
         'GLP',
         'STP',
         'BHS',
         'CYM',
         'BFA',
         'MDG',
         'MMR',
         'NPL',
         'DJI',
         'UMI',
         'SMR',
         'PLW',
         'BWA',
         'HND',
         'VGB',
         'MLI',
         'SLE',
         'BDI',
         'NIC',
         'MRT',
         'DMA',
         'PYF',
         'GUY',
         'LCA',
         'ATF',
         'FJI',
         'ASM',
         'AIA',
         'NCL',
         'SDN',
         'KIR',
         'NAM']
fullNames = []

In [83]:
for i in names:
    for j in merge_dict:
        if i == merge_dict[j][0]:
            fullNames.append(merge_dict[j][1])

In [84]:
fullNames

['Portugal',
 'United Kingdom',
 'France',
 'Spain',
 'Germany',
 'Italy',
 'Ireland',
 'Belgium',
 'Brazil',
 'Netherlands',
 'United States',
 'Switzerland',
 'Austria',
 'Sweden',
 'China',
 'Poland',
 'Israel',
 'Russia',
 'Norway',
 'Romania',
 'Finland',
 'Denmark',
 'Australia',
 'Angola',
 'Luxembourg',
 'Morocco',
 'Turkey',
 'Hungary',
 'Argentina',
 'Japan',
 'Czech Republic',
 'India',
 'South Korea',
 'Greece',
 'Algeria',
 'Serbia',
 'Croatia',
 'Mexico',
 'Estonia',
 'Iran',
 'Lithuania',
 'South Africa',
 'Bulgaria',
 'New Zealand',
 'Colombia',
 'Ukraine',
 'Mozambique',
 'Chile',
 'Slovakia',
 'Thailand',
 'Slovenia',
 'Iceland',
 'Latvia',
 'United Arab Emirates',
 'Cyprus',
 'Taiwan',
 'Saudi Arabia',
 'Philippines',
 'Tunisia',
 'Singapore',
 'Indonesia',
 'Nigeria',
 'Egypt',
 'Uruguay',
 'Lebanon',
 'Peru',
 'Hong Kong',
 'Malaysia',
 'Ecuador',
 'Belarus',
 'Venezuela',
 'Cape Verde',
 'Georgia',
 'Jordan',
 'Kazakhstan',
 'Costa Rica',
 'Malta',
 'Oman',
 'Gibraltar',
 'Azerbaijan',
 'Kuwait',
 'Macao',
 'Qatar',
 'Iraq',
 'Dominican Republic',
 'Pakistan',
 'Bosnia and Herzegovina',
 'Albania',
 'Puerto Rico',
 'Maldives',
 'Bangladesh',
 'Senegal',
 'Cameroon',
 'Macedonia',
 'Bolivia',
 'Panama',
 'Guinea-Bissau',
 'Tajikistan',
 'Jersey',
 'Libya',
 'Armenia',
 'Cuba',
 'Vietnam',
 'Andorra',
 'Mauritius',
 'Sri Lanka',
 'Ivory Coast',
 'Jamaica',
 'Kenya',
 'Bahrain',
 'Suriname',
 'Central African Republic',
 'Tanzania',
 'Montenegro',
 'Faroe Islands',
 'Paraguay',
 'Barbados',
 'Guatemala',
 'Uzbekistan',
 'Monaco',
 'Gabon',
 'Ghana',
 'Zimbabwe',
 'Guernsey',
 'Benin',
 'Syria',
 'Liechtenstein',
 'Ethiopia',
 'Malawi',
 'Seychelles',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Uganda',
 'Togo',
 'Comoros',
 'Isle of Man',
 'Aruba',
 'Zambia',
 'Laos',
 'Cambodia',
 'Mayotte',
 'Antarctica',
 'El Salvador',
 'Guadeloupe',
 'Sao Tome and Principe',
 'Bahamas',
 'Cayman Islands',
 'Burkina Faso',
 'Madagascar',
 'Myanmar',
 'Nepal',
 'Djibouti',
 'United States Minor Outlying Islands',
 'San Marino',
 'Palau',
 'Botswana',
 'Honduras',
 'British Virgin Islands',
 'Mali',
 'Sierra Leone',
 'Burundi',
 'Nicaragua',
 'Mauritania',
 'Dominica',
 'French Polynesia',
 'Guyana',
 'Saint Lucia',
 'French Southern Territories',
 'Fiji',
 'American Samoa',
 'Anguilla',
 'New Caledonia',
 'Sudan',
 'Kiribati',
 'Namibia']

In [85]:
df = {'FullNames' : fullNames}

In [87]:
data = pd.DataFrame(df)

In [88]:
data

          FullNames
0          Portugal
1    United Kingdom
2            France
3             Spain
4           Germany
..              ...
170        Anguilla
171   New Caledonia
172           Sudan
173        Kiribati
174         Namibia

[175 rows x 1 columns]

'aggrnyl', 'agsunset', 'algae', 'amp', 'armyrose', 'balance',
             'blackbody', 'bluered', 'blues', 'blugrn', 'bluyl', 'brbg',
             'brwnyl', 'bugn', 'bupu', 'burg', 'burgyl', 'cividis', 'curl',
             'darkmint', 'deep', 'delta', 'dense', 'earth', 'edge', 'electric',
             'emrld', 'fall', 'geyser', 'gnbu', 'gray', 'greens', 'greys',
             'haline', 'hot', 'hsv', 'ice', 'icefire', 'inferno', 'jet',
             'magenta', 'magma', 'matter', 'mint', 'mrybm', 'mygbm', 'oranges',
             'orrd', 'oryel', 'oxy', 'peach', 'phase', 'picnic', 'pinkyl',
             'piyg', 'plasma', 'plotly3', 'portland', 'prgn', 'pubu', 'pubugn',
             'puor', 'purd', 'purp', 'purples', 'purpor', 'rainbow', 'rdbu',
             'rdgy', 'rdpu', 'rdylbu', 'rdylgn', 'redor', 'reds', 'solar',
             'spectral', 'speed', 'sunset', 'sunsetdark', 'teal', 'tealgrn',
             'tealrose', 'tempo', 'temps', 'thermal', 'tropic', 'turbid',
             'turbo', 'twilight', 'viridis', 'ylgn', 'ylgnbu', 'ylorbr',
             'ylorrd'