In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
sns.set_style('darkgrid')
plt.rcParams['font.size'] = 14
plt.rcParams['figure.figsize'] = (9, 5)
plt.rcParams['figure.facecolor'] = '#00000000'

C:\Users\Legion\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
play_store_reviews = pd.read_csv('googleplaystore_user_reviews.csv')
play_store_reviews.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

In [3]:
playstore = pd.read_csv('googleplaystore.csv')
playstore.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [4]:
playstore.shape

(10841, 13)

In [5]:
playstore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [6]:
playstore.isna().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [7]:
# we need to convert the data types
playstore['Rating'] = playstore['Rating'].astype(float)

In [8]:
playstore['Reviews'].unique()

array(['159', '967', '87510', ..., '603', '1195', '398307'], dtype=object)

In [9]:
rating_mean = '{:.1f}'.format(playstore['Rating'].mean())
rating_mean = float(rating_mean)
rating_mean

4.2

In [10]:
# we will fill null values with mean
playstore['Rating'].fillna(rating_mean,inplace= True)

In [11]:
playstore.isna().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              1
Price             0
Content Rating    1
Genres            0
Last Updated      0
Current Ver       8
Android Ver       3
dtype: int64

In [12]:
playstore.describe(include=['object','float'])

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
count,10841,10841,10841.000000,10841,10841,10841,10840,10841,10840,10841,10841,10833,10838
unique,9660,34,NaN,6002,462,22,3,93,6,120,1378,2832,33
top,ROBLOX,FAMILY,NaN,0,Varies with device,"1,000,000+",Free,0,Everyone,Tools,"August 3, 2018",Varies with device,4.1 and up
freq,9,1972,NaN,596,1695,1579,10039,10040,8714,842,326,1459,2451
mean,NaN,NaN,4.194244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,0.499563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,4.100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,4.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,4.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,19.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
outlier = playstore[playstore['Rating']== 19.0] 
# to fix outlier
playstore['Rating'] = np.where(playstore['Rating']>5.0,rating_mean,playstore['Rating'])

In [48]:
copy_store = playstore.copy()
copy_store

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,4.2,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

### Which category has most number of apps?

In [15]:
category = pd.DataFrame(copy_store.groupby('Category')['App'].count())

In [16]:
category = category.sort_values('App',ascending=False).reset_index()[:8]
category

          Category   App
0           FAMILY  1972
1             GAME  1144
2            TOOLS   843
3          MEDICAL   463
4         BUSINESS   460
5     PRODUCTIVITY   424
6  PERSONALIZATION   392
7    COMMUNICATION   387

In [ ]:
category.to_csv('CategoryTop8.csv')

### top 8 categories by rating

In [17]:
catRating = copy_store.groupby('Category')['Rating'].agg(lambda x: round(x.mean(), 2))
catRating = pd.DataFrame(catRating).reset_index()
catRating

               Category  Rating
0                   1.9    4.20
1        ART_AND_DESIGN    4.35
2     AUTO_AND_VEHICLES    4.19
3                BEAUTY    4.26
4   BOOKS_AND_REFERENCE    4.31
5              BUSINESS    4.15
6                COMICS    4.16
7         COMMUNICATION    4.16
8                DATING    4.01
9             EDUCATION    4.39
10        ENTERTAINMENT    4.13
11               EVENTS    4.37
12               FAMILY    4.19
13              FINANCE    4.14
14       FOOD_AND_DRINK    4.17
15                 GAME    4.28
16   HEALTH_AND_FITNESS    4.27
17       HOUSE_AND_HOME    4.20
18   LIBRARIES_AND_DEMO    4.18
19            LIFESTYLE    4.11
20  MAPS_AND_NAVIGATION    4.07
21              MEDICAL    4.19
22   NEWS_AND_MAGAZINES    4.14
23            PARENTING    4.28
24      PERSONALIZATION    4.31
25          PHOTOGRAPHY    4.19
26         PRODUCTIVITY    4.21
27             SHOPPING    4.25
28               SOCIAL    4.25
29               SPORTS    4.22
30                TOOLS    4.07
31     TRAVEL_AND_LOCAL    4.12
32        VIDEO_PLAYERS    4.08
33              WEATHER    4.24

In [18]:
catRating = catRating.sort_values('Rating',ascending=False)[:8]
catRating

               Category  Rating
9             EDUCATION    4.39
11               EVENTS    4.37
1        ART_AND_DESIGN    4.35
4   BOOKS_AND_REFERENCE    4.31
24      PERSONALIZATION    4.31
15                 GAME    4.28
23            PARENTING    4.28
16   HEALTH_AND_FITNESS    4.27

In [ ]:
catRating.to_csv('top8CategoriesByRating.csv')

In [19]:
copy_store['Type'].value_counts()

Free    10039
Paid      800
0           1
Name: Type, dtype: int64

In [22]:
copy_store['Reviews'] = copy_store['Reviews'].str.replace(r"\D", "")

<ipython-input-22-1d31d18a0657>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  copy_store['Reviews'] = copy_store['Reviews'].str.replace(r"\D", "")

In [24]:
copy_store['Reviews'] = copy_store['Reviews'].astype(int)

In [25]:
copy_store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          10841 non-null  float64
 3   Reviews         10841 non-null  int32
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), int32(1), object(11)
memory usage: 1.0+ MB

In [50]:
copy_store['Installs'] = copy_store['Installs'].str.replace('[+,]','',regex=True)
copy_store['Installs'] = np.where(copy_store['Installs'] == 'Free',100000,copy_store['Installs'])

In [52]:
copy_store['Installs'].value_counts(dropna=False)

1000000       1579
10000000      1252
100000        1169
10000         1054
1000           907
5000000        752
100            719
500000         539
50000          479
5000           477
100000000      409
10             386
500            330
50000000       289
50             205
5               82
500000000       72
1               67
1000000000      58
0               15
100000           1
Name: Installs, dtype: int64

In [55]:
copy_store['Installs'] =   copy_store['Installs'].astype(int)

In [73]:
copy_store = copy_store[copy_store['Type']!='0']

In [74]:
copy_store['Type'].value_counts()

Free    10039
Paid      800
Name: Type, dtype: int64

In [107]:
free_paid = pd.DataFrame(copy_store.groupby('Type')['Installs'].sum())

In [108]:
free_paid = free_paid.reset_index()

In [105]:
free_paid =free_paid[free_paid['Type'] != '0']
free_paid.at[1,'Installs'] = 0.0729

In [119]:
free_paid

   Type  Installs
0  Free  167.0000
1  Paid    0.0729

In [118]:
free_paid.loc[free_paid['Type']=='Paid','Installs'] = 0.0729
free_paid.loc[free_paid['Type']=='Free','Installs'] =167

In [116]:
free_paid['Installs'] = free_paid['Installs'].astype(int)

In [120]:
free_paid.to_csv('free_paid1.csv')

In [103]:

72956081/1000000000

0.072956081

In [104]:
167560477406/1000000000

167.560477406